.login-wrapper {
    height: 100vh;
    background: #f4f6f9;
  }
  
  .login-card {
    width: 350px;
    border-radius: 12px;
  }
  
  .switch-mode {
    color: #0d6efd;
    cursor: pointer;
    font-size: 14px;
  
    &:hover {
      text-decoration: underline;
    }
  }
  